body {
    background-image:url(indexbg.png);
    background-repeat: repeat;
    color: #086A87;
    font-size: 26px;
}


.sprite {
    width: 200px;
    height: 200px;
    background-image: url(sprite.jpg);
    background-repeat: no-repeat;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    
}

.sprite:hover {
    background-position: -200px 0;
}

.sprite:active {
    background-position: -400px 0;
}

.wrapper {
    width: 400px;
    background-color：white；
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
    
}

.column {
    width: 160px;
    padding: 20px;
    float: right;
    height: 200px;
    overflow: auto;
}


.one {
    width: 200px;
    height: 200px;
    background-image:url(cat.jpg);
    background-repeat: no-repeat;
    background-position: 68% 1%; 
    position: fixed;
    bottom: 20px;
    right: 100px;
    border-radius: 100%;
    border: solid #086A87 5px;
    cursor: pointer;
}

.one:hover {
    background-position:250px;
}

.catword{
    position:fixed;
    bottom: 150px;
    right: 293px;
}