body {
    background-image: url(upfeathers.png);
    color: #606060;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.div1 { 
    width: 500px;
    height: 80px ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
    
.div2 {
    height: 850px;
    width: 800px;
    z-index: 100;
    background-color: #ffffff;  
    margin: 0 auto;
    padding-top: 50px;
    
}

.c1{
    text-align: center;
}

.c2{
    text-align: left;
    position: relative;
    margin-left:500px; 
    margin-right:auto;
    margin-top: -450px;
    
}

.c3{
    background-image: url(cat.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 450px;
    position: relative;
    left: 0px;
    top: 0px;
    margin-left:100px; 
    margin-right:auto;
}

.div3{ 
    margin: 0px auto;
    width: 500px;
    height: 80px ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.div4{
    
}

a:link {
    color: #606060;
}

a:hover {
    color: #606060;
}

a:active {
	color: #606060;
}

a:visited {
	color: #606060;
}