body {
    background-image: url(geometry.jpg);
    background-repeat: repeat;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: right;
}

p {
    margin: 100px;
}

.one {
    width: 150px;
    height: 150px;
    background-image:url(cat.jpg);
    background-repeat: no-repeat;
    background-position: 68% 1%; 
    position: fixed;
    bottom: 20px;
    right: 100px;
    border-radius: 100%;
    border: solid #086A87 2px;
    cursor: pointer;
}

.one:hover {
    background-position:250px;
}

.catword{
    position:fixed;
    bottom: 200px;
    right: 250px;
}

.seal {
   width: 80px;
   height: 80px;
   background-image: url(seal.png);
   background-repeat: no-repeat;
   display: block;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
   position: relative;
   text-align:center;
   margin-left:auto; 
   margin-right:auto;
}


.seal:hover {
background-position: -80px 0;
}


.seal:active {
background-position: -160px 0;
}