body {
    background-color: #EECEDA;
    background-repeat: repeat;
    font-size: 20px;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
}

.div1{
   width: 20px;
   height: 80px;
   background-color: red;
   margin-left:auto; 
   margin-right:auto;
}


.div2{
   width: 0px;
   height: 0px;
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
   border-top: 40px solid red;
   margin-left:auto; 
   margin-right:auto;
    
}