body {
    background-color: #CCEEFF;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    
}


.div1{
   width: 100px;
   height: 800px;
   padding-top: 70px;
   margin-left: auto; 
   margin-right: auto;
    
}


.seal {
   width: 80px;
   height: 80px;
   background-image: url(seal.png);
   background-repeat: no-repeat;
   display: block;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
   position: relative;
   text-align:center;
   margin-left:auto; 
   margin-right:auto;
}


.seal:hover {
background-position: -80px 0;
}


.seal:active {
background-position: -160px 0;
}