body {
    background-image: url(wood.png);
    background-repeat: repeat;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.div1 { 
    margin: 0px auto;
    width: 500px;
    height: 200px ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
    
.div2 {
    height: 250px;
    width: 600px;
    filter:alpha(Opacity=60);
    -moz-opacity:0.5;
    opacity: 0.5;
    z-index: 100;
    background-color: #ffffff;  
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    border-radius: 15%;
    
}

.c1{
    text-align: center;
}

.c2{
    text-align: left;
    padding-left: 180px;
}

a:link {
    color: black;
}

a:hover {
    color: black;
}

a:active {
	color: black;
}

a:visited {
	color: black;
}