body {
    background-image: url(geometry.jpg);
    background-repeat: repeat;
    color: #FF618B;
    font-size: 36px;
    font-family: ‘Arial Black’, Gadget, sans-serif;
    text-align: center;
}

.div1 {
    position: relative;
    width: 100px;
    height: 90px;
}

.div1:before,
.div1:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #FF618B;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.div1:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}

.div2{
   width: 500px;
   height: 700px;
   padding-top: 200px;
   margin-left: auto; 
   margin-right: auto;
}
    

.seal {
   width: 80px;
   height: 80px;
   background-image: url(seal.png);
   background-repeat: no-repeat;
   display: block;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
   position: relative;
   text-align:center;
   margin-left:auto; 
   margin-right:auto;
   border-radius: 100%;
}


.seal:hover {
background-position: -80px 0;
}


.seal:active {
background-position: -160px 0;
}