body {
    background-color: blue;
    color: red;
    font-size: 48px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: right;
}

p {
    margin: 100px;
}
.paragraph2 {
    color: #35ff3f;
}

.one {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: fixed;
    bottom: 20px;
    right: 100px;
    border-radius:100px;
    border: solid red 10px;
}    

.one:hover {
    background-color: lime;
}

a:link {
    color: white;
}

a:hover {
     color: yellow;
}