body {
    background-color: gray;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: right;
}

p {
    margin: 100px;
}

.spritemom {
    width: 800px;
    height: 200px;
    overflow-x: scroll;
    overflow-y: hidden

}

.sprite {
    width: 200px;
    height: 200px;
    background-image: url(sprite.jpg);
    background-repeat: no-repeat;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    float:left
    
}

.sprite:hover {
    background-position: -200px 0;
}

.sprite:active {
    background-position: -400px 0;
}