body {
    background-image: url(geometry.jpg);
    background-repeat: repeat;
    font-size: 36px;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
}

.div1 {
    width: 800px;
    height: 2000px;
    overflow-x: scroll;
    overflow-y: hiddenï¼›
    position: relative;
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
    

}


.seal {
   width: 80px;
   height: 80px;
   background-image: url(seal.png);
   background-repeat: no-repeat;
   display: block;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
   position: relative;
   text-align:center;
   margin-left:auto; 
   margin-right:auto;
   border-radius: 100%;
}


.seal:hover {
background-position: -80px 0;
}


.seal:active {
background-position: -160px 0;
}