body {
    background-color: black;
    font-size: 20px;
    font-family: Garamond, serif;
    text-align: center;
    color: white;
}


.div1 { 
    margin: 0px auto;
    width: 200px;
    height: 50px ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
    
.div2 {
    background-image: url(bread.jpg);
    height: 600px;
    width: 800px;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.c1{
    position: relative;
    margin-left:auto; 
    margin-right:auto;
    padding-left:50px;
    font-size: 40px;
    font-family: Garamond, serif;
    text-align: center;
    color: white;
}

.mouse {
   width: 90px;
   height: 20px;
   background-image: url(mouse.jpg);
   background-repeat: no-repeat;
   display: block;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
   position: relative;
   text-align:center;
   margin-left:auto; 
   margin-right:auto;
}


.mouse:hover {
background-position: 0px 0;
}


.mouse:active {
background-position: 0px 0;
}