body {
    background-color: black;
    font-size: 30px;
    font-family: Garamond, serif;
    text-align: center;
    color: red;
}


.div1 { 
    margin: 0px auto;
    width: 200px;
    height: 50px ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
    
.div2 {
    height: 600px;
    width: 800px;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

.d1 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: red;
   position: absolute;
   margin-left: 85px; 
   margin-top: 185px;
   
}

.d2 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: red;
   position: absolute;
   margin-left: 165px; 
   margin-top: 185px;
   
}

.d3 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: white;
   position: absolute;
   margin-left: 245px; 
   margin-top: 185px;
   
}

.d4 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: white;
   position: absolute;
   margin-left: 325px; 
   margin-top: 185px;
   
}

.d5 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: white;
   position: absolute;
   margin-left: 405px; 
   margin-top: 185px;
   
}

.d6 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: white;
   position: absolute;
   margin-left: 485px; 
   margin-top: 185px;
   
}

.d7 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: white;
   position: absolute;
   margin-left: 565px; 
   margin-top: 185px;
   
}

.d8 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: white;
   position: absolute;
   margin-left: 645px; 
   margin-top: 185px;
   
}

.d9 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: white;
   position: absolute;
   margin-left: 85px; 
   margin-top: 265px;
   
}

.d10 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: red;
   position: absolute;
   margin-left: 165px; 
   margin-top: 265px;
   
}

.d11 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: red;
   position: absolute;
   margin-left: 245px; 
   margin-top: 265px;
   
}

.d12 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: red;
   position: absolute;
   margin-left: 325px; 
   margin-top: 265px;
   
}

.d13 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: white;
   position: absolute;
   margin-left: 405px; 
   margin-top: 265px;
   
}

.d14 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: white;
   position: absolute;
   margin-left: 485px; 
   margin-top: 265px;
   
}

.d15 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: white;
   position: absolute;
   margin-left: 565px; 
   margin-top: 265px;
   
}

.d16 {
   color: black;
   font-size: 80px;
   text-align: center;
   width: 70px;
   height: 70px;
   background-color: red;
   position: absolute;
   margin-left: 645px; 
   margin-top: 265px;
   
}


.c1{
    width: 400px;
    height: 100px;
    position: relative;
    margin-left:auto; 
    margin-right:auto;
}

a:link {
    color: black;
}

a:hover {
    color: black;
}

a:active {
   background-color: red;
	color: black;
}

a:visited {
	color: black;
}