body {
    background-color: #35375F;
}

.top{
    height: 300px;
}

.logo{
    width: 75px;
    height: 75px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
}

.grid{
    background-color: #D4CCC0;
    color: #35375F;
    margin: auto;
    max-width: 800px;
    padding-bottom:100px;
    border-radius: 5%;
}

.phone{
    float: left;
    background-image: url(iPhone6.png);
    background-repeat: no-repeat;
    width: 245px;
    height: 500px;
    margin: 10%;
    margin-top: 80px;
    display: block;
}

.phone:hover {
background-position: -245px 0;
}

.p1{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    font-size: 30px;
    color: #D4CCC0;
}

.p2{
    font-family: 'Lobster', cursive;
    width: 300px;
    font-weight:500;
    font-size: 50px;
    color: #D4CCC0;
}

.p3{
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    margin: 10%;
    width: 80%;
}

.foot{
    color:#D4CCC0;
    font-size: 10px;
    position: relative;
    margin: auto;
}

.space1{
    height: 65px;
}

.space2{
    height:10px;
}

.download {
   float: left;
   width: 200px;
   height: 70px;
   background-image: url(download.png);
   background-repeat: no-repeat;
   display: block;
}

.download:hover {
background-position: -200px 0;
}


.download:active {
background-position: -200px 0;
}